@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(500px) rotate(360deg);
    }
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffcc00;
    animation: fall 1s linear infinite;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.game-area {
    width: 90%;
    max-width: 1200px;
}

.word-container,
.translation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.word,
.translation {
    border: 2px solid #007BFF;
    border-radius: 5px;
    padding: 10px;
    background-color: #E1ECF4;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    margin: 5px 10px;
}

.separator {
    width: 100%;
    border-bottom: 2px dashed #007BFF;
    margin: 20px 0;
}

.instructions {
    font-size: 24px;
    font-weight: bold;
    color: #0056b3;
    margin: 20px;
    text-align: center;
}


.score-display {
    font-weight: bold;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;

}

.status-message {
    font-weight: bold;
    position: fixed;
    /* או absolute, תלוי במבנה הדף */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background-color: #76B947;
    /* צבע רקע - ניתן לשנות לפי העדפה */
    color: white;
    /* צבע טקסט */
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    /* קורנרים מעוגלים בחלק התחתון */
}

#nameInput {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    /* Text aligned to the center */
}

#reset {
    color: green;
    font-weight: bold;

}

#testSelect {
    padding: 10px 20px; /* Increase padding to make it larger */
    font-size: 18px; /* Larger font size for better readability */
    margin: 20px auto; /* Center the select box horizontally and add vertical spacing */
    display: block; /* Make it a block element to take width settings properly */
    cursor: pointer; /* Shows a pointer cursor on hover */
    background-color: #ffffff; /* Background color */
    color: #000000; /* Text color */
    border: 2px solid #007BFF; /* Border properties */
    border-radius: 5px; /* Rounded corners */
}

#testSelect:hover {
    background-color: #f8f8f8; /* Slightly change background on hover for visual feedback */
}
